.git
node_modules
.pnp
.pnp.*
*.log
*.local

.dockerignore
.env
**/.env
Dockerfile
fly.toml

.wrangler
coverage
cache
.zed
*.vars
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal

.output
.data
.nuxt
.nitro
.cache
dist
dist-app
dist-node
dist-cloudflare

local-documents
ingestion
.cursorrules
*.traineddata
*.md

.eslintcache
.claude
.opencode
AGENTS.md